numpy
pandas
gdown
ipykernel
ipython
opencv-python
mujoco
jupyter
scipy
plotly
statsmodels
matplotlib
scikit-learn
torch
torchvision
timm
clearml
memory-profiler
tdqm
nbimporter
cairosvg
nb-mypy
ruff
transformers
sentencepiece
accelerate
seaborn
xgboost